DATABASE_URL="postgres://username:password@localhost:5432/database_name"
TEST_DATABASE_URL="postgres://username:password@localhost:5432/database_name"
SECRET_KEY=""
SALT_ROUNDS=

PG_DB=
PG_USER=
PG_PASSWORD=
DB_PORT=5432
SERVER_PORT=3000

NODE_ENV=
APP_EMAIL = ""
SEND_GRID_API_KEY= ""
BASE_URL = "http://localhost:3000"
SIGNIN_PAGE = ""
