# dist directory
dist

# node modules
node_modules

# package-lock.json
package-lock.json

# yarn.lock
yarn.lock

# env variables
.env

# test build
.nyc_output
coverage

# editor files
.editorconfig
